@media screen and (min-width: 1000px) {
  .rowStyle {
    width: 25vw !important;
  }
  textarea {
    width: 25vw;
    height: 15vh;
    padding: 0.5rem;
    outline: none;
    border: none;
    box-shadow: none;
    border-radius: 12px;
    background-color: rgb(240, 240, 240);
    border: 1px solid black;
    font-size: 0.9rem;
  }
}

@media screen and (max-width: 1000px) {
  .rowStyle {
    width: 90vw !important;
  }
  textarea {
    width: 90vw;
    height: 15vh;
    padding: 0.5rem;
    outline: none;
    border: none;
    box-shadow: none;
    border-radius: 12px;
    background-color: rgb(240, 240, 240);
    border: 1px solid black;
    font-size: 0.9rem;
  }
}
