<meta name="viewport" content="width=device-width, initial-scale=1" />
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
/>

<div
  class="modal-content"
  style="margin-top: 15vh; position: absolute; width: fit-content;"
>
  <div class="modal-header">
    <div class="row w-100 m-0">
      <div class="col align-self-center">
        <h6 class="modal-title title" id="exampleModalLabel">
          Add required fieldnames
        </h6>
      </div>
      <div
        class="col align-self-center text-right pointerToClick"
        style="font-size: 1.7rem;"
      >
        <span (click)="closeModal()" class="xButtonStyle">×</span>
      </div>
    </div>
  </div>
  <div
    class="container d-flex justify-content-center align-items-center pl-5 pr-5 pt-3 pb-4"
  >
    <div class="row">
      <div class="col-12 p-0 mt-3">
        <div class="row w-100 m-0">
          <label
            >ID Field Name
            <span
              *ngIf="case === 'spatial'"
              style="font-size: 0.8rem; color: grey;"
              >(Optional)</span
            ></label
          >
        </div>
        <div class="row w-100 m-0">
          <input
            class="w-100 inputsStyling"
            type="text"
            [(ngModel)]="objectIdFieldName"
          />
        </div>
      </div>
      <div class="col-12 p-0 mt-2">
        <div class="row w-100 m-0">
          <label>Location Field Name</label>
        </div>
        <div class="row w-100 m-0">
          <input
            class="w-100 inputsStyling"
            type="text"
            [(ngModel)]="objectLocationFieldName"
          />
        </div>
      </div>
      <div class="col-12 p-0 mt-2" *ngIf="case === 'spatiotemporal'">
        <div class="row w-100 m-0">
          <label>Time Field Name</label>
        </div>
        <div class="row w-100 m-0">
          <input
            class="w-100 inputsStyling"
            type="text"
            [(ngModel)]="objectTimeFieldName"
          />
        </div>
      </div>
      <div class="col-12 p-0 mt-3 text-center">
        <button
          *ngIf="case === 'spatial'"
          (click)="runSpatialQuery()"
          class="btn btn-outline-dark btn-sm float-right"
        >
          Run
          <i
            *ngIf="isLoading === true"
            class="fa fa-spinner fa-pulse fa-3x fa-fw"
          ></i>
        </button>
        <button
          *ngIf="case === 'spatiotemporal'"
          (click)="runSpatioTemporalQuery()"
          class="btn btn-outline-dark btn-sm float-right"
        >
          Run
          <i
            *ngIf="isLoading === true"
            class="fa fa-spinner fa-pulse fa-3x fa-fw"
          ></i>
        </button>
      </div>
    </div>
  </div>
</div>
