.inputsStyling {
  border: none;
  outline: none;
  box-shadow: none;
  background-color: rgb(240, 240, 240);
  border: 1px solid black;
  border-radius: 12px;
  padding-left: 0.5rem;
  height: 2.4rem;
  font-size: 0.9rem;
}

.xButtonStyle {
  color: grey;
}

.xButtonStyle:hover {
  color: black;
}

@media screen and (max-width: 1000px) {
  .modal-content {
    width: 74vw;
  }
}
