/*
 * Entry point of global application style.
 * Component-specific style should not go here and be included directly as part of the components.
 */

// Theme variables, must be included before the libraries to allow overriding defaults
@import "theme/theme-variables";

// 3rd party libraries
@import "~bootstrap/scss/bootstrap";
@import "~@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "~@fortawesome/fontawesome-free/scss/brands.scss";
@import "~@fortawesome/fontawesome-free/scss/regular.scss";
@import "~@fortawesome/fontawesome-free/scss/solid.scss";

// Theme customization
@import "theme/theme";

.font8 {
  font-size: 8px;
}
.font12 {
  font-size: 12px;
}
.font14 {
  font-size: 14px;
}
.font16 {
  font-size: 16px;
}
.font18 {
  font-size: 18px;
}
.font20 {
  font-size: 20px;
}
.font22 {
  font-size: 22px;
}
.font24 {
  font-size: 24px;
}
.font26 {
  font-size: 26px;
}
.pointerToClick {
  cursor: pointer;
}
.ng5-slider-pointer {
  background-color: rgba(240, 248, 255, 0) !important;
  box-shadow: none;
  outline: none;
}
.ng5-slider-pointer-min::after {
  background-color: aliceblue !important;
  height: 12px !important;
  width: 12px !important;
  margin-top: -2.5px !important;
}
.ng5-slider-ceil {
  /* color: white !important; */
  display: none !important;
}
.ng5-slider-floor {
  /* color: white !important; */
  display: none !important;
}
.ng5-slider-model-value {
  /* color: white !important; */
  display: none !important;
}
.leaflet-div-icon {
  border-radius: 100% !important;
}
