<div class="container-fluid p-0 text-dark">
  <!-- Sidebar Header -->
  <div class="row w-100 m-0 sideBarTitle d-flex align-content-center">
    <div class="col-12 text-center">
      <p class="font-weight-bold font26 mt-2">NoDa Spatial Visualization</p>
      <p>NoSQL Spatial Data visualization tool</p>
      <a
        href="https://github.com/nkoutroumanis/NoSQL-Operators"
        target="_blank"
        class="pointerToClick"
      >
        <img
          class="img-fluid"
          src="assets/github.png"
          style="height: 1.3rem;"
        />
      </a>
    </div>
  </div>

  <!-- Analytics section -->
  <div class="row w-100 m-0 mt-2 p-2">
    <!-- Title -->
    <div class="col-12">
      <p class="font-weight-bold" style="font-size: 1.1rem;">Data Analytics</p>
    </div>

    <!-- Results to show from noda-spring sever -->
    <div class="col-12 mt-3">
      <p>
        <span class="font-weight-bold">
          Results:
        </span>
        {{ data.length }}
      </p>
    </div>
  </div>
</div>
