<div class="container-fluid p-0 text-dark">
  <div class="row w-100 m-0 sideBarTitle d-flex align-content-center">
    <div class="col-12 text-center">
      <p class="font-weight-bold font26 mt-2">NoDa Spatial Visualization</p>
      <p>NoSQL Spatial Data visualization tool</p>
      <a
        href="https://github.com/nkoutroumanis/NoSQL-Operators"
        target="_blank"
        class="pointerToClick"
      >
        <img
          class="img-fluid"
          src="assets/github.png"
          style="height: 1.3rem;"
        />
      </a>
    </div>
  </div>
  <div class="row w-100 m-0 mt-2 p-2">
    <p>Data Analytics</p>
    <!-- <a class="col-auto buttonsNav pt-2 pb-2 pointerToClick m-1 font12" [routerLink]="route.routeLink"
      routerLinkActive="activeRoute" [routerLinkActiveOptions]="{exact: true}" *ngFor="let route of navigationRoutes">
      {{ route.routeName }}
    </a> -->
  </div>
</div>
