.logo {
  width: 100px;
}

q {
  font-style: italic;
  font-size: 1.2rem;
  quotes: "« " " »";
}

.match-parent {
  width: 100%;
  height: 100%;
}

.my-div-icon {
  background-color: red !important;
  color: red($color: #ff0505) !important;
  height: 2rem;
  width: 2rem;
}

.inputOfDates {
  background-color: rgba(255, 0, 0, 0);
  color: white;
  padding-left: 6px;
  border: 1px solid white;
  border-radius: 5px;
  box-shadow: none;
  outline: none;
}

.inputs {
  background-color: rgba(255, 255, 255, 0.171);
  color: white;
  padding-left: 6px;
  border: none;
  border-radius: 5px;
  box-shadow: none;
  outline: none;
}

.fa {
  color: rgb(90, 90, 90);
}

input[type="date"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  display: none;
}
input[type="date"]::-webkit-calendar-picker-indicator {
  background-color: rgba(255, 0, 0, 0);
}
